body{
    background-color: #9abcd2;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.footer {
    font-size: 15px;
    text-align: right;
}

td{
    vertical-align: text-top;
}

ul{
    list-style-type: none;
}

a{  
    color: rgb(2, 64, 119);
}

div{
    color: #000000;
    height: 100%;
    padding: 20px 5px 50px 20px;
    margin: 5px;
    border: 1px solid #999;
    background-color: #d6e4f0;
    border: solid 2px #999;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #16739e;
}